.cart-modal-container {
  transition: $transition;

  .screen-cover {
    background-color: $darkColour;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }

  .cart-modal-side-menu {
    position: absolute;
    background-color: $whiteColour;
    right: -400px;
    top: 0;
    z-index: 4;
    width: 400px;
    height: 110vh;
    border: 5px solid $lightColour;
    overflow-y: scroll;
    @include fCenter();
    align-items: flex-start;

    .cart-exit-btn-container {
      width: 100%;
      @include fCenter();
      justify-content: flex-end;
      padding-top: 3px;

      .close-cart-icon {
        height: 30px;
        width: 30px;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          color: $accentColour;
        }

        &:active {
          transform: scale(0.95);
          color: $lightColour;
          opacity: 0.9;
        }
      }
    }

    .empty-cart-msg {
      @include fCenter(column);

      .empty-cart-icon {
        height: 50px;
        width: 50px;
      }

      .empty-cart-back {
        height: 30px;
        width: 30px;
        cursor: pointer;
        transition: $transition;

        &:hover {
          transform: scale(1.1);
          color: $lightColour;
        }

        &:active {
          transform: scale(0.95);
          color: $accentColour;
          opacity: 0.9;
        }
      }
    }
    .checkout-container {
      padding: 10px 20px;

      .cart-item {
        @include fCenter();
        justify-content: space-between;
        gap: 10px;
        margin: 5px 0;
        padding: 10px 20px;
        border: 1px solid $darkColour;

        .cart-thumbnail {
          min-width: 50px;
          border: 1px solid $darkColour;
          padding: 3px;

          @include fCenter();
          img {
            height: 50px;
            max-width: 50px;
            object-fit: contain;
          }
        }
      }
    }
  }

  .closed {
    display: none;
  }

  .slide-in {
    animation: slideIn 0.7s ease-in-out;
    display: block;
    right: 0;
  }
}

@keyframes slideIn {
  0% {
    right: -400px;
  }
  100% {
    right: 0px;
  }
}
