.cart-modal-container {
  transition: $transition;

  .screen-cover {
    background-color: $darkColour;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }
  .closed {
    display: none;
  }

  .cart-modal-side-menu {
    position: absolute;
    background-color: $whiteColour;
    right: -400px;
    top: 0;
    z-index: 4;
    width: 350px;
    height: 110vh;
    border: 5px solid $lightColour;
  }

  .slide-in {
    animation: slideIn 0.7s ease-in-out;
    right: 0;
  }

  //   .slide-out {
  //     animation: slideOut 0.7s ease-in-out;
  //   }
}

@keyframes slideIn {
  0% {
    right: -400px;
  }
  100% {
    right: 0px;
  }
}
// @keyframes slideOut {
//   0% {
//     right: 0px;
//   }
//   100% {
//     right: -400px;
//   }
// }
