@media screen and (max-width: 850px) {
  nav {
    flex-direction: column;
    height: 20vh;

    .logo-area {
      width: 100%;

      h1 {
        margin: 0;
        margin-top: 10px;
        font-size: max(8vw, 36px);
      }
    }

    .nav-links {
      width: 100%;
      justify-content: space-around;
    }
  }

  .img-credit {
    bottom: 0;
  }

  .buttons {
    bottom: 30%;

    button {
      padding: 10px;
      box-shadow: inset -2px -2px 0px $accentColour;
    }
  }

  .about-body {
    width: 80%;
  }
}
