@mixin fCenter($dir: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $dir;
}

@mixin hover {
  transform: scale(0.95);
  opacity: 0.9;
}

@mixin active {
  transform: scale(1);
  opacity: 1;
}
