// NAVBAR

nav {
  @include fCenter();
  justify-content: space-between;
  padding: 0 10vw;
  background-color: $darkColour;
  color: $lightColour;
  height: 10vh;

  .logo-area {
    width: 50%;
    @include fCenter();
    gap: 20px;
    font-family: $headerFont;
    font-size: 24px;
  }
}

.nav-links {
  @include fCenter();
  flex: 1;
  justify-content: space-around;
}

.nav-link {
  @include fCenter();
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
  color: $lightColour;
  transition: $transition;

  &:hover {
    @include hover;
  }

  &:active {
    @include active;
  }
}

.logo,
.icon {
  color: $accentColour;
}
