.btn-ribbon {
  @include fCenter();
  gap: 15px;
  padding-bottom: 10px;

  .btn-ribbon-icon {
    font-size: 18px;
    transition: $transition;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      color: $accentColour;
    }
  }
}
