.btn-ribbon {
  @include fCenter();
  gap: 15px;
  padding-bottom: 10px;

  .view-btn {
    color: $lightColour;
  }

  .btn-ribbon-icon {
    font-size: 18px;
    transition: $transition;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      color: $accentColour;
    }
    &:active {
      transform: scale(0.9);
      color: $lightColour;
      opacity: 0.9;
    }
  }
}
