.product-card {
  color: $lightColour;
  height: 300px;
  box-shadow: inset -10px -10px 0px $accentColour;
  border: 1px solid $lightColour;
  padding: 20px;
  background-color: $whiteColour;
  transition: $transition;
  width: min(33vw, 250px);
  margin: 0 auto;
  @include fCenter(column);
  justify-content: space-between;

  h1 {
    margin: 0;
    height: 50px;
    width: 100%;
    font-size: 24px;
  }

  .product-img-container {
    @include fCenter();
    padding: 0 10px;
    height: 200px;

    img {
      max-height: 200px;
      width: auto;
      max-width: 200px;
    }
  }

  .product-footer {
    @include fCenter();
    justify-content: space-between;
    height: 50px;
    width: 100%;
  }

  &:hover {
    transform: scale(1.02);
    border: 1px solid $accentColour;
    box-shadow: inset -10px -10px 0px $lightColour;
  }
}
