.shop-container {
  height: 80vh;
  padding: 40px 80px;
  overflow-y: scroll;

  .products-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    gap: 40px;
  }
}
