$lightColour: #e1a04d;
$accentColour: #72c5a5;
$darkColour: #061817;
$whiteColour: #eee;

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
$headerFont: 'VT323', monospace;
$bodyFont: Arial, Helvetica, sans-serif;

$transition: all 0.2s ease-out;

$headerHeight: 10vh;
$contentHeight: 80vh;
$footerHeight: 5vh;
