// VARIABLES

$lightColour: rgb(210, 210, 210);
$darkColour: rgb(56, 56, 56);
$headerFont: 'Times New Roman', Times, serif;
$bodyFont: Arial, Helvetica, sans-serif;

// MIXINS

@mixin fCenter($dir: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $dir;
}

// RULES

body {
  padding: 0;
  margin: 0;
  font-family: $bodyFont;
}

// NAVBAR

nav {
  @include fCenter();
  justify-content: space-between;
  padding: 0 10vw;
  background-color: $darkColour;
  color: $lightColour;

  .logo-area {
    width: 50%;
    @include fCenter();
    gap: 5px;
    font-family: $headerFont;
    font-size: 24px;
  }
}

.nav-links {
  @include fCenter();
  flex: 1;
  justify-content: space-around;
}

.nav-link {
  @include fCenter();
  gap: 10px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: $lightColour;

  &:hover {
    transform: scale(0.95);
    opacity: 0.9;
  }

  &:active {
    transform: scale(1.05);
    opacity: 1;
  }
}
