@import 'Mixins';
@import 'Variables';
@import 'NavBar';
@import 'HomePage';
@import 'AboutPage';
@import 'ShopPage';
@import 'Footer';

@import 'MediaQueries';

body {
  padding: 0;
  margin: 0;
  font-family: $headerFont;
  overscroll-behavior: none;
  background-color: $darkColour;
}
