@import 'Mixins';
@import 'Variables';
@import 'NavBar';
@import 'HomePage';
@import 'AboutPage';
@import 'Footer';

body {
  padding: 0;
  margin: 0;
  font-family: $bodyFont;
  overscroll-behavior: none;
}
