@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10vw;
  background-color: #061817;
  color: #e1a04d;
  height: 10vh;
  font-family: "VT323", monospace;
  font-size: 20px;
}
nav .logo-area {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  font-family: "VT323", monospace;
  font-size: 32px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #e1a04d;
  transition: all 0.2s ease-out;
}
.nav-link:hover {
  transform: scale(0.95);
  opacity: 0.9;
}
.nav-link:active {
  transform: scale(1);
  opacity: 1;
}

.logo,
.icon {
  color: #72c5a5;
}

.home-img {
  width: 100%;
  display: block;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.buttons {
  position: absolute;
  left: 5vw;
  bottom: 50%;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 5vh;
}
.buttons button {
  padding: 20px;
  color: #72c5a5;
  background-color: #061817;
  font-family: "VT323", monospace;
  font-size: 18px;
  border: 1px solid #72c5a5;
  box-shadow: inset -5px -5px 0px #72c5a5;
  transition: border 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  opacity: 0.8;
}
.buttons button:hover {
  box-shadow: inset 5px 5px 0px #e1a04d;
  border-color: #e1a04d;
  color: #e1a04d;
}

.img-credit {
  position: absolute;
  bottom: 80px;
  right: 10px;
}
.img-credit a {
  text-decoration: none;
  color: white;
  background-color: #061817;
  padding: 3px 5px;
  font-size: 12px;
  opacity: 0.5;
}

.about-body {
  position: absolute;
  top: max(20vh, 50px);
  left: 5vw;
  font-family: "VT323", monospace;
  font-size: 18px;
  justify-content: space-around;
  width: 30%;
  margin: 5vh auto;
  color: #72c5a5;
  background-color: #061817;
  border: 1px solid #e1a04d;
  box-shadow: inset -5px -5px 0px #e1a04d;
  text-align: center;
  padding: 10px 5vw;
  opacity: 0.8;
  max-height: 70vh;
  overflow: scroll;
  transition: box-shadow 0.3s ease-in-out;
}
.about-body:hover {
  box-shadow: inset 5px 5px 0px #e1a04d;
}

.shop-container {
  height: 80vh;
  padding: 40px 80px;
  overflow-y: scroll;
}
.shop-container .products-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 40px;
}

.sort-bar-container {
  color: #eee;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sort-bar-container .tags-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.sort-bar-container .tags-container .sort-select {
  padding: 5px 10px;
  border: 8px;
  background-color: #72c5a5;
}
.sort-bar-container .tags-container .tag {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 0 10px;
  margin: 10px 10px;
  background-color: #72c5a5;
  cursor: pointer;
}
.sort-bar-container .tags-container .disabled-tag {
  opacity: 0.6;
}

.floating-cart {
  position: fixed;
  right: 10px;
  top: 10vh;
  color: #eee;
  cursor: pointer;
  padding: 10px;
  border: 3px solid #e1a04d;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transition: all 0.2s ease-out;
  background-color: #eee;
  color: #72c5a5;
  z-index: 2;
}
.floating-cart:hover {
  border: 3px solid #72c5a5;
  color: #e1a04d;
  transform: scale(1.2);
}
.floating-cart:active {
  background-color: #eee;
  opacity: 0.7;
}
.floating-cart .cart-icon {
  height: 30px;
  width: 30px;
}

.product-card {
  color: #e1a04d;
  height: 300px;
  box-shadow: inset -10px -10px 0px #72c5a5;
  border: 1px solid #e1a04d;
  padding: 20px;
  background-color: #eee;
  transition: all 0.2s ease-out;
  width: min(33vw, 250px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.product-card h1 {
  margin: 0;
  height: 50px;
  width: 100%;
  font-size: 24px;
}
.product-card .product-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 10px;
  height: 200px;
}
.product-card .product-img-container img {
  max-height: 200px;
  width: auto;
  max-width: 200px;
}
.product-card .product-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}
.product-card:hover {
  transform: scale(1.02);
  border: 1px solid #72c5a5;
  box-shadow: inset -10px -10px 0px #e1a04d;
}

.btn-ribbon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  padding-bottom: 10px;
}
.btn-ribbon .view-btn {
  color: #e1a04d;
}
.btn-ribbon .btn-ribbon-icon {
  font-size: 18px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.btn-ribbon .btn-ribbon-icon:hover {
  transform: scale(1.1);
  color: #72c5a5;
}
.btn-ribbon .btn-ribbon-icon:active {
  transform: scale(0.9);
  color: #e1a04d;
  opacity: 0.9;
}

.product-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #eee;
  height: 80vh;
  gap: 10vw;
  text-align: center;
  margin: 0 auto;
}
.product-page-container img {
  width: auto;
  max-height: 60vh;
  max-width: 100vw;
}

.large-product-view-info {
  max-width: 300px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.large-product-view-info a {
  color: #eee;
}
.large-product-view-info a:hover {
  text-decoration: none;
  color: #72c5a5;
}

.product-page-btns {
  margin-top: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.product-page-btns .product-page-icon {
  height: 25px;
  width: 25px;
  color: #72c5a5;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.product-page-btns .product-page-icon:hover {
  transform: scale(1.1);
  color: #e1a04d;
}
.product-page-btns .product-page-icon:active {
  transform: scale(0.9);
  color: #72c5a5;
  opacity: 0.9;
}

.product-not-found-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #eee;
  height: 80vh;
}
.product-not-found-error .error-icon {
  height: 100px;
  width: 100px;
  color: #e1a04d;
}
.product-not-found-error .product-page-btns {
  margin-top: 0;
  width: none;
  margin: 0 auto;
  justify-content: center;
}

.cart-modal-container {
  transition: all 0.2s ease-out;
}
.cart-modal-container .screen-cover {
  background-color: #061817;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.cart-modal-container .closed {
  display: none;
}
.cart-modal-container .cart-modal-side-menu {
  position: absolute;
  background-color: #eee;
  right: -400px;
  top: 0;
  z-index: 4;
  width: 350px;
  height: 110vh;
  border: 5px solid #e1a04d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.cart-modal-container .cart-modal-side-menu .empty-cart-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20vh;
}
.cart-modal-container .cart-modal-side-menu .empty-cart-msg .empty-cart-icon {
  height: 50px;
  width: 50px;
}
.cart-modal-container .cart-modal-side-menu .empty-cart-msg .empty-cart-back {
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.cart-modal-container .cart-modal-side-menu .empty-cart-msg .empty-cart-back:hover {
  transform: scale(1.1);
  color: #e1a04d;
}
.cart-modal-container .cart-modal-side-menu .empty-cart-msg .empty-cart-back:active {
  transform: scale(0.95);
  color: #72c5a5;
  opacity: 0.9;
}
.cart-modal-container .slide-in {
  -webkit-animation: slideIn 0.7s ease-in-out;
          animation: slideIn 0.7s ease-in-out;
  right: 0;
}

@-webkit-keyframes slideIn {
  0% {
    right: -400px;
  }
  100% {
    right: 0px;
  }
}

@keyframes slideIn {
  0% {
    right: -400px;
  }
  100% {
    right: 0px;
  }
}
footer {
  width: 100%;
  background-color: #061817;
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  height: 5vh;
}
footer a {
  text-decoration: none;
  transition: all 0.2s ease-out;
  color: #72c5a5;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer a:hover {
  transform: scale(0.95);
  opacity: 0.9;
}
footer a:active {
  transform: scale(1);
  opacity: 1;
}
footer small {
  padding-right: 50px;
  color: #e1a04d;
}

@media screen and (max-width: 850px) {
  nav {
    flex-direction: column;
    height: 20vh;
  }
  nav .logo-area {
    width: 100%;
  }
  nav .logo-area h1 {
    margin: 0;
    margin-top: 10px;
    font-size: max(8vw, 36px);
  }
  nav .nav-links {
    width: 100%;
    justify-content: space-around;
    padding: 0;
  }
  .img-credit {
    bottom: 0;
  }
  .buttons {
    bottom: 30%;
  }
  .buttons button {
    padding: 10px;
    box-shadow: inset -2px -2px 0px #72c5a5;
  }
  .about-body {
    width: 80%;
  }
  .shop-container {
    padding: 40px 20px;
  }
  .floating-cart {
    top: 20vh;
  }
  .product-card {
    min-width: 250px;
  }
  .product-page-container {
    flex-direction: column;
    width: 90vw;
    height: auto;
  }
  .product-page-container img {
    max-width: 90vw;
  }
  .large-product-view-info {
    max-width: 80vw;
  }
}
body {
  padding: 0;
  margin: 0;
  font-family: "VT323", monospace;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  background-color: #061817;
}/*# sourceMappingURL=App.css.map */